l-main(title="Realizar Orden")
   .p-customer
      el-form(
         ref="formCustomer", 
         :model="form",
         label-width="120px",
         @submit.native.prevent=""
         )
         el-input(
            placeholder="Ingrese Nombre del Cliente",
            size="medium",
            autofocus,
            v-model="form.customerName",
            required
         )
         el-button(
               type="primary"
               native-type="submit"
               @click="onSubmit"
            )  Siguiente 
